{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h2>Tarea 1</h2>
<br> </br><h4>Realiza una búsqueda de películas, personas, naves o planetas para saber más sobre estos</h4>
<form type="get" action="{%url 'busqueda'%}" style="margin: 0">
    <input  id="q" type="text" name="q"  placeholder="Ingerese texto..." >
    <button id="search_submit" type="submit" >Buscar</button>
</form><br> </br>
<div class="container">

<h3>{{p.name}}</h3>
    <dl>
        <dd>   Altura: {{ p.height }} </dd>
        <dd>   Peso: {{ p.mass }} </dd>
        <dd>   Color de pelo: {{ p.hair_color}} </dd>
        <dd>   Color de piel: {{ p.skin_color}} </dd>
        <dd>   Color de ojos: {{ p.eye_color}} </dd>
        <dd>   Cumpleaños: {{ p.birth_year}} </dd>
        <dd>   Género: {{ p.gender}} </dd>
        <dd>   Planeta de origen: <a href="/planeta/{{ planeta_id}}/" >{{ planeta_nombre }}</a></dd>
    </dl>

    <dl>
        <dt>Naves</dt>
        {% for i in naves %}
         <dd><a href="/nave/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}
        <br> </br>
        <dt>Peliculas</dt>
        {% for i in peliculas%}
         <dd><a href="/pelicula/{{ i.id}}/" >{{ i.nombre }}</a></dd>
        {% endfor %}

    </dl>




{% endblock %}

